{{define "base"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "Title" .}}</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main.min.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__box">
                <div class="header__menu">
                    <ul class="header__ul">
                        <li><a href="/">ГЛАВНАЯ</a></li>
                        <li><a href="/blog">БЛОГ</a></li>
                        <li><a href="/contact">КОНТАКТЫ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        {{template "mainFon" .}}
        {{template "postContent" .}}
    </main>
</body>
</html>
{{end}}